.logo{
    display: flex;
    // margin: 0 0 0 18px;

    & img{
        display: inline-block;
        width: 50px;
        cursor: pointer;
    }

    & h1{
        padding: 0;
        margin: 0;
        font-size: 30px;
        font-weight: 300;
        line-height: 50px;
        margin-left: 7px;
    }
}

.logo:hover{
    cursor: pointer;
}