.task-edit-menu{
    position: absolute;
    background-color: coral;
    // height: 50px;
    // width: 120px;
    right: -55px;
    top:-10px;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    border-radius: 5px;
}

.task-edit-menu:hover{
    cursor: auto;
}